{% extends 'templates/app.twig' %}
{% block content %}
  <header class="">
    <div class="jumbotron jumbotron-fluid full-header about-splash mb-0">
      <div class="container">
        <h1 class="display-5 text-primary text-uppercase">About us</h1>
      </div>      
    </div>
  </header>

  <section class="py-5">
    <div class="container">
      
      <div class="row mb-5">
        <div class="col-md-12">
          <p class="lead text-primary mb-0 text-capitalize">our vision</p>
          <p>To be the most referred financial consultant brand, trusted partner and provider of innovative solutions for growing and protecting wealth.</p>
        </div>
      </div>

      <div class="row mb-5">
        <div class="col-md-12">
          <p class="lead text-primary mb-0 text-capitalize">our mission</p>
          <p>To help our customers achieve financial prosperity and feel confident about their financial future.</p>
        </div>
      </div>

      <div class="row mb-5">
        <div class="col-md-12">
          <p class="lead text-primary text-capitalize">our team</p>
          
          <p class="lead text-dark mb-0 text-uppercase">ms. dhwani shah</p>
          <p class="mb-4">Dhwani Shah, MBA in Finance and HR is a young and dynamic visionary having 6 years of experience in stock market. She is specialized in Fundamental and Technical Analysis. Her proven leadership skills, communication skills and subject matter expertise makes her a strategic and enthusiastic entrepreneur.  She has trained over 400 students in the subjects of Financial Management, Portfolio Management, For-ex Management, Economics, Accountancy and Law. Dhwani being an excellent orator has conducted various seminars and workshops in business schools across Bangalore to motivate students and to instil the knowledge of Finance from industry point of view. With the perfectionist and her go-getter attitude, Dhwani aims of making FCI and Finarc Institution Bangalore's leading Financial consulting and Financial Training brand.</p>

          <p class="lead text-dark mb-0 text-uppercase">mr. anmol sharma</p>
          <p class="mb-4">Anmol Sharma is a double graduate in B.A(Economics) and B.Com(Customer Service Management), having a work experience of 6 years in business analytic. He believes in innovation and simplification of tasks which helps in value addition and customer satisfaction. Anmol has a passion for exploring new stuff and is always updated about the happenings in the world of business and technology. He is Six Sigma Yellow belt professional and has also trained students for MS Excel, Business analytic and soft skills. He is a strategist and with his exceptional communication and solution selling skills he leads the Business vertical in FCI and adds indispensable value to client relationships.</p>

          <p class="lead text-dark mb-0 text-uppercase">mr. naveen</p>
          <p class="mb-4">Naveen is a double graduate and has Masters from Bangalore. He has a vast experience in portfolio management and stock trading and he understands every nook and corner of stock market. He has a thorough knowledge of portfolio management, technical and fundamental trading. He is known for picking the best multi baggers. Naveen does his own research & analysis on stock market and mutual funds, and advices FCI clients to invest their money on the right kind of assets. In FCI he takes care of Marketing and also key source for Portfolio Management Services and Stock Market Trading.</p>
        </div>
      </div>

    </div>
  </section>
{% endblock %}