{% extends 'templates/app.twig' %}
{% block content %}
  <header>
    <div class="jumbotron jumbotron-fluid contact-splash full-header mb-0">
      <div class="container">
        <h1 class="display-5 text-primary text-uppercase">Contact us</h1>
      </div>      
    </div>
  </header>
  
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <p class="lead text-primary">Get in touch</p>

          <form action="/fci/public/send" id="contact-form" method="post">

            <div class="form-group pb-3">
              <label for="name">Name*</label>
              <input type="text" class="form-control input-field" name="name" id="name" required="required">
            </div>

            <div class="form-group pb-3">
              <label for="email">Email address*</label>
              <input type="email" class="form-control input-field" name="email" id="email" required="required">
            </div>

            <div class="form-group pb-3">
              <label for="phone">Contact number*</label>
              <input type="text" class="form-control input-field" name="phone" id="phone" required="required">
            </div>

            <div class="form-group">
              <label for="message">Message*</label>
              <textarea rows="5" class="form-control input-field" name="message" id="message" required="required"></textarea>
            </div>

            <input type="submit" value="Submit" class="btn btn-primary float-right btn-submit">
            <p class="text-primary">*Required fields</p>
          </form>
          <p class="text-success" id="feedback"></p>
          <p class="text-success" id="err-feedback"></p>
        </div>
        <div class="col-md-5 offset-md-2">
          <p class="lead text-primary">Address</p>
          <p class="mb-4">Flip Coin Investments <br>
            No. 579, 3rd floor, Sanjeeva Nilaya <br>
            30th Main, 80 feet road, Banagirinagar <br>
            Banashankari 3rd stage <br>
            Bangalore - 560070</p>

            <p class="mb-4">
              Email: info@flipcoininvestment.com <br>
              <span class="opacity-0">Email:</span>
              flipcoininvestments@gmail.com
            </p>

            <p class="mb-5">
              Phone: +91-7406132221
            </p>

            <div id="map" class="map"></div>
        </div>
      </div>
    </div>
  </section>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkXsV42TAECYCNYLCd1mIO-j2J3IkYBvo"></script>

    <script type="text/javascript">
    // When the window has finished loading create our google map below
    google.maps.event.addDomListener(window, 'load', init);

    function init() {
      // Basic options for a simple Google Map
      // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
      var mapOptions = {
        // How zoomed in you want the map to start at (always required)
        zoom: 14,

        // The latitude and longitude to center the map (always required)
        center: new google.maps.LatLng(12.9255482, 77.5607853), // LOCATION

        // How you would like to style the map.
        // This is where you would paste any style found on Snazzy Maps.
        styles: [
          {
            "featureType":"administrative",
            "elementType":"labels.text.fill",
            "stylers":[
              {
                "color":"#444444"
              }
            ]
          },
          {
            "featureType":"landscape",
            "elementType":"all",
            "stylers":[
              {
                "color":"#f2f2f2"
              }
            ]
          },
          {
            "featureType":"poi",
            "elementType":"all",
            "stylers":[
              {
                "visibility":"off"
              }
            ]
          },
          {
            "featureType":"road",
            "elementType":"all",
            "stylers":[
              {
                "saturation":-100
              },
              {
                "lightness":45
              }
            ]
          },
          {
            "featureType":"road.highway",
            "elementType":"all",
            "stylers":[
              {
                "visibility":"simplified"
              }
            ]
          },
          {
            "featureType":"road.arterial",
            "elementType":"labels.icon",
            "stylers":[
              {
                "visibility":"off"
              }
            ]
          },
          {
            "featureType":"transit",
            "elementType":"all",
            "stylers":[
              {
                "visibility":"off"
              }
            ]
          },
          {
            "featureType":"water",
            "elementType":"all",
            "stylers":[
              {
                "color":"#3353a5"
              },
              {
                "visibility":"on"
              }
            ]
          }
        ]
      };

      // Get the HTML DOM element that will contain your map
      // We are using a div with id="map" seen below in the <body>
      var mapElement = document.getElementById('map');

      // Create the Google Map using our element and options defined above
      var map = new google.maps.Map(mapElement, mapOptions);

      // Let's also add a marker while we're at it
      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(12.9255482, 77.5607853),
        map: map,
        title: 'Flip Coin Investment',
        zoomControl: false
      });
    }
    </script>

{% endblock %}