{% extends 'templates/app.twig' %}

{% block content %}
  <header>
    <div class="jumbotron jumbotron-fluid full-header mb-0">
      <div class="container">
        <h1 class="display-5 text-primary text-uppercase">Finarc Institution</h1>
      </div>      
    </div>
  </header>

<section class="section py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-uppercase text-primary">FINARC INSTITUTION</h3>
        <p>Finarc Institutions is Bangalore's first professional training institution exclusively for Commerce and Finance related courses. Finarc has a team of experienced industry experts from various fields of finance providing training to groom students as well as working professionals interested in successfully building a career in finance. </p>
        <p>At Finarc, we believe quality merges with excellence and our teaching methodology includes:</p>
        <ul class="pl-4">
          <li>Classroom teaching</li>
          <li>A.V training</li>
          <li>Interactive sessions</li>
          <li>Mock tests</li>
          <li>Student counseling</li>
          <li>Case studies</li>
        </ul>

        <h5  class="text-uppercase text-primary">Courses offered</h5>
        <ul class="pl-4">
          <li>CA :  CPT, IPCC, FINAL</li>
          <li>CS : Foundation, Executive, Professional</li>
          <li>CMA/ICWA : Foundation, Inter, Final</li>
          <li>Stock Market Training</li>
          <li>MS Excel : Beginners, Intermediate, Advance Levels</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="section pb-5">
  <div class="container">
      <h3 class="text-uppercase text-center text-primary mb-5">FCI Certification</h3>
    <div class="row">

      <div class="col-md-5 mb-4">
        <h5 class="text-primary">Executive Program on Equity</h5>
        <p>Basics of Stock Markets, Common Sense Approach to&nbsp;Investing, Trading Ideas, Investing Ideas, Understanding Fundamental Reports (for Investing).</p>
      </div>

      <div class="col-md-5 offset-md-1 mb-4">
        <h5 class="text-primary">Professional Certification on Equity</h5>
        <p>Understanding Fundamental Reports with case study, Reading Technical Charts with case study, Derivatives with Option, Read the Economics Calendar.</p>
      </div>

      <div class="col-md-5 mb-4">
        <h5 class="text-primary">Certification on Commodity</h5>
        <p>Basics of Stock&nbsp;Markets, Common Sense Approach to&nbsp;Investing, Trading Ideas, Investing Ideas, Understanding Fundamental Reports and Technical charts.</p>
      </div>

      <div class="col-md-5 offset-md-1 mb-4">
        <h5 class="text-primary">Certification on Derivatives</h5>
        <p>Trading Strategy, understand the fundamental factor, Read the charts and more.</p>
      </div>

      <div class="col-md-5 mb-4">
        <h5 class="text-primary">Certification on Fixed Income</h5>
        <p>India and Global Fixed income over view, Different kind of instrument available.</p>
      </div>

      <div class="col-md-5 offset-md-1 mb-4">
      <h5 class="text-primary">Certification on Financial Planning (Wealth)</h5>
      <p>How create wealth, what all the product available, How to select the investment decision.</p>
      </div>

      <div class="col-md-5 mb-4">
        <h5 class="text-primary">Certification Financial Planning and analysis (FP&amp;A)</h5>
        <p>Budgeting, Forecasting, Variance Analysis and more.</p>
      </div>

      <div class="col-md-5 offset-md-1 mb-4">
        <h5 class="text-primary">Certification on Money Market</h5>
        <p>Different Instrument of Money Market in details.</p>
      </div>

      </div>
    </div>
  </div>
</section>

{% endblock %}