{% extends 'templates/app.twig' %}
{% block content %}
  <header class="">
    <div class="jumbotron jumbotron-fluid full-header">
      <div class="container">
        <h1 class="display-5 text-primary">We value your money</h1>
        <p class="lead">COME | PLAN | GROW</p>
      </div>      
    </div>
  </header>

  <section class="section py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <p class="text-uppercase text-primary lead">Flip coin investment</p>
          <p>Flip Coin Investments (FCI) is a first of its kind Financial Consultant service provider based out of Bangalore which aims at providing personalized, innovative and profitable Financial Solutions for our Clients who have dynamic needs with their investments. We personally focus on Wealth Management, Portfolio Management and Financial Planning. We believe in quality and ensure that our Clients are provided with all possible option to invest with confidence. Our aim is to progress with our customers to fulfill their financial goals.</p>
          <p>Flip Coin Investments has a team of qualified professionals which include certified financial planners and investment advisers. We are distinct by our commitment in delivering excellent services, always of the highest quality to our clients.</p>
        </div>
        <div class="col-md-5">
          <img src="./images/man2.png" class="d-none d-md-block" alt="man2">
        </div>
      </div>
    </div>
  </section>

  <section class="section bg-lighter py-5">
    <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h5 class="heading text-primary my-5">FCI Advantages</h5>
      </div>
    </div>
      <div class="row text-center">
        <div class="col-md-4">
          <img src="./images/integrated.png" class="mb-4 feature-image" alt="Money bag">
          <h5 class="text-primary">Integrated and Transparent Services</h5>
          <p>We value integrity and transparency in clients' transactions and provide the best value for money to our clients. Our dedicated relationship managers are trained to provide excellent services and complete satisfaction to all their clients</p>
        </div>

        <div class="col-md-4">
          <img src="./images/umbrella.png" class="mb-4 feature-image" alt="Money bag">
          <h5 class="text-primary">All services under one umbrella</h5>
          <p>We are offering wide range of specialized and customized services in Stock, Futures & Options, IPO & Mutual Fund Distribution, Life / Health / General Insurance, Financial Planning, Portfolio Management, Tax advisory etc.</p>
        </div>

        <div class="col-md-4">
          <img src="./images/accurate_and_timely_research.png" class="mb-4 feature-image" alt="Money bag">
          <h5 class="text-primary">Accurate and timely research</h5>
          <p>We are always endeavored to provide timely research based advice to our clients. Our research team comprises of experienced Fundamental, Technical and Derivative Strategies analysts.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section py-5 d-none d-md-block" id="ticker">
    <div class="container">
      <div class="row">
      <div class="col-md-12 text-center"><h5 class="text-uppercase text-primary">most active stocks</h5></div>
        <div class="col-md-12">

          <table class="table table-responsive d-table no-lines mt-3">
            <thead>
              <tr>
                <th>Company</th>
                <th>High</th>
                <th>Low</th>
                <th>Last price</th>
                <th>% Chg</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody class="ticker-body">
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </section>

  {# global market #}
  <section class="section py-2" id="globalMarket">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <div class="nav nav-justified js-marget-nav"></div>

        </div>
      </div>
    </div>
  </section>

  {# market section #}
  {# <section class="section py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          
        </div>
        
      </div>
      <div class="row">
        <div class="col-md-6">

         

        </div>
        <div class="col-md-6">
        </div>
      </div>
    </div>
  </section> #}

  {# news and tips #}
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="lead text-primary text-uppercase">Today's news</p>
          <div class="news-area"></div>
        </div>
        <div class="col-md-6">
        <h5 class="mb-4 text-uppercase text-primary">Today's market</h5>
          <nav class="nav nav-pills gain-loss-switch nav-justified">
            <li class="nav-item">
              <a href="#" data-action="topGainers" class="nav-link active text-capitalize" data-text="gain">Top Gainers</a>
            </li>
            <li class="nav-item">
              <a href="#" data-action="topLosers" class="nav-link text-capitalize" data-text="loss">Top Losers</a>
            </li>
          </nav>

          {# <nav class="nav nav-pills my-3">
            <li class="nav-item">
              <a href="#" class="nav-link active">NSE</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">BSE</a>
            </li>
          </nav> #}

          <table class="table no-lines mt-3">
            <thead>
              <tr>
                <th>Company</th>
                <th>Current</th>
                <th class="gain-loss-status">Gain</th>
              </tr>
            </thead>
            <tbody class="loss-gain">
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <section id="services" class="py-5 section bg-lighter">
    <div class="container text-center">

    <div class="row">
      <div class="col-md-12">
        <h5 class="text-primary">Our services</h5>
      </div>
    </div>

      <div class="row">
        <div class="col-md-4 my-4">
          <img src="./images/wealth_management.png" class="service-img" alt="Wealth">
          <h5 class="my-3 text-primary">Wealth Management</h5>
        </div>
        
        <div class="col-md-4 my-4">
          <img src="./images/portfolio_management.png" class="service-img" alt="portfolio_management">
          <h5 class="my-3 text-primary">Portfolio Management</h5>
        </div>
        
        <div class="col-md-4 my-4">
          <img src="./images/financial_planning.png" class="service-img" alt="financial_planning">
          <h5 class="my-3 text-primary">Financial Planning</h5>
        </div>

      </div>

      <div class="row">

        <div class="col-md-4 offset-md-2 my-4">
          <img src="./images/tax_planning.png" class="service-img" alt="tax_planning">
          <h5 class="my-3 text-primary">Tax Planning</h5>
        </div>
        <div class="col-md-4 my-4">
           <img src="./images/stock_trading.png" class="service-img" alt="stock trading">
          <h5 class="my-3 text-primary">Stock Trading</h5>
        </div>
      </div>

    </div>
  </section>

  <section id="register" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
          <p class="text-primary text-uppercase lead">The  key to great investments is here</p>
          <p>Need more details? Register here.</p>

          <form action="" id="registeration-form">
            <div class="input-group register-group">
                <input type="text" name="email" class="form-control search" id="registration-email" placeholder="Enter you email address">
                <div class="input-group-append">
                  <span type="submit" id="reg-btn" class="input-group-text">REGISTER</span>
                </div>
              
              
            </div>
            <div id="feedback" class="text-left"></div>
          </form>

        </div>
      </div>
    </div>
  </section>

  <section id="testimonials" class="py-5">
    <h5 class="text-primary text-center mb-3">Testimonials</h5>
    <div class="container">
      <div id="testimonialsSlider" class="carousel slide" data-ride="carousel" data-pause="hover">

        <div class="carousel-inner">

          <div class="carousel-item active">
            <blockquote class="blockquote text-center">
              <p class="mb-0">Flipcoin investment is run by a good bunch of guys with great knowledge on the stock market. Most of their predictions on the market movements and on individual stocks are bang on, which is a great advantage as an investor and a customer associated with their firm. They have a quick turn around time on your requests and help with the correct suggestions whenever the customer is in a dilemma about which stock to choose as per the risk profile. Wish the team good luck!!!</p>
              <footer class="blockquote-footer"> Head <cite title="Commercial lease">Commercial lease</cite></footer>
            </blockquote>
          </div>

          <div class="carousel-item">

            <blockquote class="blockquote text-center">
              <p class="mb-0">Passion, knowledge and a genuine interest in achieving the best for clients is what makes a truly professional Financial Adviser. FCI team has dedication to achieve best which set them apart and I would highly recommend them to anyone wanting to get better financial <outcomes class=""></outcomes></p>
              <footer class="blockquote-footer">Someone famous in <cite title="Sales director">Sales director</cite></footer>
            </blockquote>
          </div>

          <div class="carousel-item">
            <blockquote class="blockquote text-center">
              <p class="mb-0">FCI is like a friend who not only helps you save your hard earned money through proper tax investments but also constantly advises you to invest in carefully picked market-linked investment options that grow your money. Our association has been both warm and rewarding so far and we wish to continue working together.</p>
              <footer class="blockquote-footer"><cite title="Onmobile">Onmobile</cite></footer>
            </blockquote>
          </div>

          <div class="carousel-item">
            <blockquote class="blockquote text-center">
              <p class="mb-0">Everyone goes through the time when you realize that its been too late and you need to save money. But you don't have clues about how to save. You become worried about your future. You end up realising that you have done a big mistake, But thanks to FCI who helped me in time and get my savings in line..It brings back all hopes for your future..thanks FCI team....</p>
              <footer class="blockquote-footer">Senior Manager <cite title="Motorola">Motorola</cite></footer>
            </blockquote>
          </div>

          <div class="carousel-item">
            <blockquote class="blockquote text-center">
              <p class="mb-0">I was introduced to the people at FCI after about a year of having started work. In the time that I have spent with FCI, I have gone from knowing little about managing my taxes and investments to having charted out an entire tax savings and investment plan. The realization of the difference that this would make in terms of my savings and future planning, which I had overlooked for so long, has really helped me make more informed choices now. The most amazing aspect of working with them is that all their counsel is catered from a very individualistic perspective, ensuring that the services they are providing me with is best suited for my needs and purposes. The entire process involving ideation of a plan to going about the necessary requirements and document formalities to set it up was handled by the team at my convenience. It couldn't have been easier to collaborate with an informed team on planning and having it executed smoothly, as has been my experience with FCI.</p>
              <footer class="blockquote-footer">Analyst <cite title="Goldman Sachs">Goldman Sachs</cite></footer>
            </blockquote>
          </div>

          <div class="carousel-item">
            <blockquote class="blockquote text-center">
              <p class="mb-0">I write to express my sincere and heartfelt appreciation and gratitude for your services, provided in accessible manner by FCI.
              Thank you for your assistance in analyzing my situation and helping me make accurate investments to secure my finances and future. 
              The team dealt with me in a professional way and showed patience and understanding during my many enquiries. 
              I was impressed by your manner, immediate grasp of the facts and the superb advice and guidance I received. 
              I would recommend your services to friends and family if they ever need assistance on Investment/ Tax / Financial services.</p>
              <footer class="blockquote-footer"><cite title="Geetha">Geetha</cite></footer>
            </blockquote>

          </div>

          <div class="carousel-item">

            <blockquote class="blockquote text-center">
              <p class="mb-0">It's been a peace of mind for last 3 years working with Dhwani and team and asking them to handle my investments be it Trading/mutual funds. Right from documentation to investing to returns that I would earn everything is been updated on a regular basis so that I don't loose the track of where my money going in. It's really a pleasure to work in ease with Flipcoin investments paralleley which helps in growing your wealth.</p>
              <footer class="blockquote-footer">Sales and Marketing Consultant <cite title="Go Magic Trails">Go Magic Trails</cite></footer>
            </blockquote>

          </div>

        </div>

        {# <a class="carousel-control-prev light" href="#testimonialsSlider" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next light" href="#testimonialsSlider" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a> #}
      </div>
    </div>
  </section>

  

{% endblock %}
