{% extends 'templates/app.twig' %}

{% block content %}

  <header>
    <div class="jumbotron jumbotron-fluid full-header insurance-splash mb-0">
      <div class="container">
        <h1 class="display-5 text-primary text-uppercase">Insurance</h1>
      </div>      
    </div>
  </header>

  <section class="section py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-5 mb-4">
          <h5 class="text-primary">PERSONAL INSURANCE</h5>
          <p>Personal insurance is essentially a plan availed by an individual to take care of various requirements like health and coverage against death or injury by accident.</p>
        </div>

        <div class="col-md-5 offset-md-1 mb-4">
          <h5 class="text-primary">MEDICAL INSURANCE</h5>
          <p>Medical or health insurance is taken to cover against the chances of medical costs. These plans are created with estimates  of healthcare expenses a person may face in future and the premiums are determined on such approximations.</p>
        </div>

        <div class="col-md-5 mb-4">
          <h5 class="text-primary">ACCIDENTAL INSURANCE</h5>
          <p>The accidental insurance policies cover both death and any sort of disability arising from an accident.</p>
        </div>

        <div class="col-md-5 offset-md-1 mb-4">
          <h5 class="text-primary">VEHICLE INSURANCE</h5>
          <p>Vehicle insurance is also referred to as auto insurance, car insurance, GAP insurance, and motor insurance.</p>
        </div>
      </div>
    </div>
      
  </section>


{% endblock %}