{% extends 'templates/app.twig' %}

{% block content %}
  <header>
    <div class="jumbotron jumbotron-fluid full-header mutual-fund-splash mb-0">
      <div class="container">
        <h1 class="display-5 text-primary text-uppercase">Mutual fund</h1>
      </div>      
    </div>
  </header>


<section class="section py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h5 class="text-primary text-uppercase">What is mutual fund?</h5>
        <p>A mutual fund is a trust that pools together the savings of a number of investors who share a common financial goal. The money collected is then invested in capital market instruments such as shares, debentures and other securities.</p>
        <p>With mutual fund, you have the facility of letting professional fund managers make investments on your behalf. This means that you can have your investments professionally managed in a mutual fund. Before taking any investment decision, it is important to assess your needs and financial goals.</p>
      </div>
    </div>
  </div>
</section>

{# objectives #}
<section id="objectives" class="py-5 section">
    <div class="container text-center">

    <div class="row">
      <div class="col-md-12">
        <h5 class="text-primary">The funds are positioned with an objective to:</h5>
      </div>
    </div>

      <div class="row">
        <div class="col-md-4 my-4">
          <img src="./images/create_wealth.png" class="service-img" alt="Wealth">
          <h5 class="my-3 text-primary">Create Wealth</h5>
        </div>
        
        <div class="col-md-4 my-4">
          <img src="./images/stable_income.png" class="service-img" alt="stable income">
          <h5 class="my-3 text-primary">Stable Income</h5>
        </div>
        
        <div class="col-md-4 my-4">
          <img src="./images/manage_cash.png" class="service-img" alt="manage cash">
          <h5 class="my-3 text-primary">Manage Cash</h5>
        </div>

      </div>

      <div class="row">

        <div class="col-md-4 offset-md-2 my-4">
          <img src="./images/save_tax.png" class="service-img" alt="save tax">
          <h5 class="my-3 text-primary">Save Tax</h5>
        </div>
        <div class="col-md-4 my-4">
          <img src="./images/retirement.png" class="service-img" alt="retirement">
          <h5 class="my-3 text-primary">Plan Your Retirement</h5>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">

          <article class="text-left mb-5">
            <h5 class="text-primary">CREATE WEALTH</h5>
            <p>High inflation often impacts the savings of individuals. In view of the same, generating "market-linked" returns over a longer period of time is critical for meeting our goals. Mutual Fund schemes in this category are positioned with an objective to produce "market-linked" returns over a period of time. Invest into Equity Funds, Gold Funds and Hybrid / Balanced Funds which are positioned to help you create wealth and generate returns.</p>
            <p>The following funds may be suitable for investors who seek to create wealth by earning "​market-linked" returns:</p>
            <ul>
              <li>​Equity funds</li>
              <li>Gold funds</li>
              <li>Hybrid / Balanced funds</li>
            </ul>
          </article>

          <article class="text-left mb-5">
            <h5 class="text-primary">STABLE INCOME</h5>
            <p> ​​In today’s competitive and rapidly changing world, we face a lot of financial uncertainties. The employment and business opportunities that are available are constantly evolving, and may result in fluctuations​ in our income. In such a scenario, sensible investment in Mutual Funds can open up other sources of income, which would reduce our dependence on purely our salary or business profits and help us manage the financial uncertainty in our lives. Invest in Short Term Funds and Long Term Funds with an objective to generate less volatile returns.</p>
          </article>

          <article class="text-left mb-5">
            <h5 class="text-primary">TAX SAVING INVESTMENT</h5>
            <p> Income and expenditure are the two sides of the same coin. However, when the time comes to pay income tax, you cannot act blind towards it and at the same time you would not want it to have an impact on your wallet. While you cannot dodge taxes, you can still lessen its affect on your income. Make tax saving investments to minimize the affect of income tax on your income Tax savings investments allow you to save on tax as well as increase your savings. Tax saving mutual fund schemes is one of the tax saving investments. Want to save tax and try to grow your savings at the same time? Enjoy the dual benefit of saving tax as well as the potential to earn long-term growth by investing into the below-mentioned Mutual Funds. While offering the potential of growth through investments into equity markets, these Mutual Funds also offer tax benefits.</p>
            <p>The following funds may be suitable for investors who seek to save tax:​​Equity Linked Savings Scheme (ELSS) – tax benefits under Section 80C​</p>
            <p><img src="./images/finance.png" alt="" class=" bg-lighter mt-4 p-5"></p>
          </article>

          <article class="text-left mb-5">
            <h5 class="text-primary">LIQUID FUND</h5>
            <p>All of us need cash to take care of our daily expenses (groceries, provisions etc.) as well as to deal with any medical emergencies. But at the same time, we don’t want the cash to be lying idle or blocked. If you keep your cash idle, you are depriving your cash to earn for you. It would be smart to invest this cash in Mutual Funds, so that it earns you returns and is still available as and when you need it. And if you park it for a long term investment, you might end up blocking it. Hence, invest in Liquid Funds as it is the best way to invest your cash and manage it smartly.</p>
          </article>

        </div>
      </div>

    </div>
  </section>

{% endblock %}