{% extends 'templates/app.twig' %}
{% block content %}
  <header class="">
    <div class="jumbotron jumbotron-fluid full-header services-splash mb-0">
      <div class="container">
        <h1 class="display-5 text-primary text-uppercase">Our services</h1>
      </div>      
    </div>
  </header>

  <section class="py-5">
    <div class="container">
      <div class="row my-5">

        <div class="col-md-4 order-md-2">
          <img src="./images/wealth_management.png" class="small-img" alt="image">
        </div>

        <div class="col-md-8 order-md-1">
          <p class="lead text-primary text-capitalize">Wealth management</p>
          <p>Wealth management is more than just investment advice, as it can encompass all parts of a person's financial life. To cater to different needs of investors, we offer various services</p>
          <ul>
            <li>Mutual Fund investments.</li>
            <li>Accurate advice by expertise wealth manager.</li>
            <li>Need based asset allocation by Fund Managers.</li>
            <li>Health Insurance.</li>
            <li>Life insurance.</li>
            <li>Customized services.</li>
          </ul>
        </div>

        
      </div>

      <div class="row my-5">

        <div class="col-md-4">
          <img src="./images/portfolio_management.png" class="small-img" alt="image">          
        </div>

        <div class="col-md-8">
          <p class="lead text-primary text-capitalize">Portfolio management</p>
          <p>FCI helps the clients in making decisions about investment mix and policy, matching investments to objectives and balancing risk against performance through the portfolio management service. Portfolio management is all about strengths, weaknesses, opportunities and threats in the choice of equity vs. debt, domestic vs. international, growth vs. safety, and many other tradeoffs encountered in attempt to maximize return at given risk.</p>
        </div>
        
      </div>

      <div class="row my-5">

        <div class="col-md-4 order-md-2">
          <img src="./images/financial_planning.png" class="small-img" alt="image">
        </div>

        <div class="col-md-8 order-md-1">
          <p class="lead text-primary text-capitalize">Financial Planning</p>
          <p>At FCI we help in evaluating investor’s current and future financial state by preparing good financial plan which can alert an investor to changes that must be made to ensure smooth transaction’s through life’s financial phases, keeping into consideration client’s future life goals, future wealth transfer plans and future expenses levels. This will help in prioritizing the needs and wants of life.</p>
        </div>
        
      </div>

       <div class="row my-5">

        <div class="col-md-4">
          <img src="./images/tax_planning.png" class="small-img" alt="image">
        </div>

        <div class="col-md-8">
          <p class="lead text-primary text-capitalize">Tax planning</p>
          <p>Tax planning involves conceiving of and implementing various strategies in order to minimize the amount of taxes paid for a given period. We sincerely advise all our clients to plan their investments in such a way, that the post-tax yield is the highest possible keeping in view the basic parameters of safety and liquidity.</p>
        </div>
        
      </div>

      <div class="row my-5">

        <div class="col-md-4 order-md-2">
          <img src="./images/stock_trading.png" class="small-img" alt="image">
        </div>

        <div class="col-md-8 order-md-1">
          <p class="lead text-primary text-capitalize">Stock Trading</p>
          <p>FCI provides clients a well established trading platform to access stock market. This includes in-house research reports and powerful trading tools for the investors to trade in all the segments be it cash, Futures & Options or Commodity.</p>
        </div>
        
      </div>

    </div>
  </section>
  
{% endblock %}