<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Flip Coin Investment</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="./css/main.css">
  <link rel="apple-touch-icon" sizes="57x57" href="./images/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="./images/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="./images/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="./images/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="./images/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="./images/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="./images/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="./images/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="./images/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="./images/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="./images/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./images/favicons/favicon-16x16.png">
  <link rel="manifest" href="./images/favicons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="./images/favicons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <meta name="title" content="Flip Coin Investments">
  <meta name="description" content="Flip Coin Investments (FCI) is a first of its kind Financial Consultant service provider based out of Bangalore which aims at providing personalized, innovative and profitable Financial Solutions for our Clients who have dynamic needs with their investments. We personally focus on Wealth Management, Portfolio Management and Financial Planning. We believe in quality and ensure that our Clients are provided with all possible option to invest with confidence. Our aim is to progress with our customers to fulfill their financial goals.">
  <meta name="keywords" content="Financial Services, Financial Services Companies, Investment Management, Investment, Life Insurance, Retirement Plan, Retirement Accounts, Investment Planning, Investment Plan, Financial Investment, Finance, Financial Aid, Financial Advisor, Financial Calculator, Financial Planning, Return on Investment, ROI">
  <meta name="author" content="iDevia">
  <meta property="og:url" content="https://flipcoininvestments.com/" />
  <meta property="og:type" content="website" />
  <meta name="og:title" content="Flip Coin Investments">
  <meta name="og:description" content="Flip Coin Investments (FCI) is a first of its kind Financial Consultant service provider based out of Bangalore which aims at providing personalized, innovative and profitable Financial Solutions for our Clients who have dynamic needs with their investments. We personally focus on Wealth Management, Portfolio Management and Financial Planning. We believe in quality and ensure that our Clients are provided with all possible option to invest with confidence. Our aim is to progress with our customers to fulfill their financial goals.">
  <meta property="og:image" content="https://flipcoininvestment.com/images/logo.png" />

</head>
<body>
  {% include 'templates/partials/navigation.twig' %}
  {% block content %}{% endblock %}

  {% include 'templates/partials/footer.twig' %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="./js/bootstrap.min.js"></script>
  <script src="./js/jquery.validate.min.js"></script>
  <script src="http://malsup.github.com/jquery.form.js"></script> 
  <script src="./js/app.js"></script>
  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/581dad0c304e8e7585721db2/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
  </script>
  <!--End of Tawk.to Script-->
</body>
</html>